#output, #cleanValues {
	font-size: 10vw;
}

#start {
	width: 100px;
	height: 100px;
}

#beta, #beta_clean {
	background-color: #80ff80;
}

#gamma {
	background-color: #80b3ff;
}

#counter {
	background-color: #ff6666;
}
